{% extends "employee-base.html" %}
{% load static %}

{% block wrapper %}
<h2 class="mb-4 text-center">2025 október havi beosztás igény</h2>
{% comment %} <div class="table-responsive"> {% endcomment %}
{% comment %} <form method="post" action="{% url 'employee_shift_request' %}">
    {% csrf_token %}
    {% for day in days %}
        <p>{{ day }}
            <label>
                <input type="checkbox" name={{ day }} value="1">
                Check me!
            </label></p>
    {%endfor%}
    <button type="submit" class="btn btn-primary">Küldés</button>
</form> {% endcomment %}

{{ html_table|safe }}

{% endblock %}