{% extends "management-base.html" %}
{% load static %}
{% load dict_extras %}

{% block wrapper %}
<h1>Üdvözlünk!</h1>
<table>
    <tr><th>Dolgozó</th><th>Év</th><th>Hónap</th>
    {% for day in day_list %}
        <th>{{ day }}</th>
    {% endfor %}
    </tr>
    {% for req in shift_requests %}
    <tr>
        <td>{{ req.employee.full_name }}</td>
        <td>{{ req.year }}</td>
        <td>{{ req.month }}</td>
        {% for day in day_list %}
            {% with color=req.request_data|dict_get:day %}

                {% if color %}
                  <td class="cell {{ color }}" data-day="{{ day }}">{{ day }}</td>
                {% else %}
                  <td class="cell green" data-day="{{ day }}">{{ day }}</td>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}